
<!-- bloc-0 -->
<div class="bloc l-bloc bgc-white " id="bloc-0">
	<div class="container bloc-sm">
		<nav class="navbar row">
			<div class="navbar-header">
				<a class="navbar-brand" href="{{ 'home'|page }}"><img src="{{ 'assets/images/logo2-rgb_keychest.png'|theme }}" alt="logo" height="40" /></a>
				<button id="nav-toggle" type="button" class="ui-navbar-toggle navbar-toggle" data-toggle="collapse" data-target=".navbar-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse navbar-1">
				<a href="https://keychest.net" class="btn btn-clean pull-right btn-rich-electric-blue">Spot Check</a><a href="https://keychest.net/home" class="btn btn-clean pull-right btn-rich-electric-blue">My Dashboard</a>
			</div>
		</nav>
	</div>
</div>
<!-- bloc-0 END -->
