/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
.env.dev
.env.prod
.env.test
.env.local
.env.dusk.local
.env.dusk.testing
laravel-echo-server.json
laravel-echo-server-dev.json
laravel-echo-server-prod.json
resources/vendor
resources/lang/vendor
public/css/app.css
public/fonts/vendor
public/img/
public/images/
public/css/
public/js/
public/images/vendor
public/js/app.js
public/js/manifest.js
public/js/misc.js
public/js/index.js
public/js/vendor.js
public/mix-manifest.json
public/css/skins
public/plugins
public/img
public/fonts/

