ul.domain-list {
    padding-left: 0;
}

ul.domain-list li {
    list-style-type: none;
}

.coma-list {
    display: inline;
    list-style: none;
    padding-left: 0;
}

.coma-list li {
    display: inline;
}

.coma-list li:after {
    content: ", ";
}

.coma-list li:last-child:after {
    content: "";
}

.fade-enter-active, .fade-leave-active {
    transition: opacity 1.0s
}
.fade-enter, .fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0
}

.box-body > .table-xfull {
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    width: auto;
}

.box-body > .table-xfull > .table {
    margin-bottom: auto;
}

.box-body > .table-xfull > .table > thead > tr > th,
.box-body > .table-xfull > .table > tbody > tr > td
{
    padding-left: 12px;
}

.info-box-label {
    line-height: 80px;
    padding-left: 50px;
    font-size: 20px;
    font-weight: 400;
    color: #444;
}
