#app .wrapper .main-header .sidebar-toggle {
  padding: 14px 14px;
}

@media (max-width: 767px) {
  .servers-wrapper .servers-tab {
    padding-left: 0;
    padding-right: 0;
  }
}

table tbody td.warning-hi {
  background-color: #ffe9db;
}

table tbody td.warning-hi:hover,
table tbody tr:hover td.warning-hi {
  background-color: #ffdabc;
}

.loading .vuetable-th-sequence {
  background-image: url(../images/ajax-loader.gif);
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: 20% 50%;
}

.sidebar-menu,
.small-box,
.alert {
  font-weight: 400;
}


.helpsub {
  font-size: 75%;
}

.input-group-inline {
  display: inline-table;
}

table th .vcenter,
table td .vcenter,
table th.vcenter,
table td.vcenter
{
  display: table-cell;
  vertical-align: middle;
}
