/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating
   url('http://i.stack.imgur.com/FhHRx.gif')
    or: http://preloaders.net/
    or: http://cssload.net/
*/
.tc-rich-electric-blue{
  color:#00A7D7!important;
}



.tg  {border-collapse:collapse;border-spacing:0;border-color:#999;}
.tg td{font-family:Arial, sans-serif;font-size:14px;padding:5px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#444;background-color:#F7FDFA;}
.tg th{font-family:Arial, sans-serif;font-size:14px;font-weight:normal;padding:10px 5px;border-style:solid;border-width:1px;overflow:hidden;word-break:normal;border-color:#999;color:#fff;background-color:#00a7d7;}

.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-i218{color:#009901;text-align:center;vertical-align:top}
.tg .tg-ytze{color:#cb0000;text-align:center;vertical-align:top}


.tg .tg-m2nm{background-color:#D2E4FC;color:#333333;text-align:right;vertical-align:top}
.tg .tg-lvf9{background-color:#D2E4FC;color:#333333;text-align:center;vertical-align:top}
.tg .tg-lvf8{background-color:#D2E4FC;color:#009901;text-align:center;vertical-align:top}
.tg .tg-lvf7{background-color:#D2E4FC;color:#cb0000;text-align:center;vertical-align:top}
.tg .tg-mb3i{background-color:#D2E4FC;text-align:right;vertical-align:top}
.tg .tg-v4ss{background-color:#D2E4FC;font-weight:bold;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-9hbo{font-weight:bold;vertical-align:top}
.tg .tg-6k2t{background-color:#D2E4FC;vertical-align:top}
.tg .tg-b21a{color:#333333;text-align:right;vertical-align:top}
.tg .tg-yw4l{vertical-align:top}
