.pagination {
    margin: 0;
    float: right;
}
.pagination a.page {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 2px;
}
.pagination a.page.active {
    color: white;
    background-color: #337ab7;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 10px;
    margin-right: 2px;
}
.pagination a.btn-nav {
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 7px;
    margin-right: 2px;
}
.pagination a.btn-nav.disabled {
    color: lightgray;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px 7px;
    margin-right: 2px;
    cursor: not-allowed;
}
.pagination-info {
    float: left;
}
i.sort-icon {
    /*padding-left: 5px;*/
    font-size: 11px;
    padding-top: 4px;
}
.loading .vuetable {

}
.vuetable-pagination{
    min-height: 40px;
}

.table-xfull {
    margin-left: -10px;
    margin-right: -10px;
    width: auto;
}

.table-xfull > .table > thead > tr > th,
.table-xfull > .table > tbody > tr > td
{
    padding-left: 12px;
}

